.team{
    @extend .header;
    height: auto;
    background: none;
}
.team-main{
    background: url(../img/team.png) no-repeat;
    background-size: cover;
    height: 450px;
}
.member-img{
    width: 100%;
    height: 450px;
}
.main-title{
    text-transform: uppercase;
    margin-top: 35%;
    font-size: 28pt;
    font-weight: 700;
    border: 5px solid;
    padding: 10px 20px;
    display: inline-block;
}
.team-title{
    background: #ccc8b6;
    height: 450px;
    h3{
       position: relative;
        top: 28%;
        font-size: 21pt;
        font-weight: 700;
    }
    h5{
        font-size: 11pt;
        max-width: 400px;
        margin: 40% auto;
        margin-bottom: 0;
    }
}
.team-title__icons{
        margin-top: 10%;
        .fa{
            margin-right: 7%;
            cursor: pointer;
        }
    }

.fa:hover{
    color:#3ac9e8;
}
.team-submit{
    background: #f2efe5;
    height: 450px;
    text-align: center;
}
.submit-form{
    max-width: 300px;
    text-align: left;
    position: relative;
    top: 34%;
    margin: 0 auto;
    &__title{
        font-size: 11pt;
    }
    input{
        margin-top: 40px;
        background: rgb(242, 239, 229) none repeat scroll 0% 0%;
        border: 1px solid;
        width: 98%;
        height: 38px;
    }
  
}
 .team-submit .submit-form__button{
        margin-top: 23px;
        text-align: center;
        background: rgb(154, 151, 122) none repeat scroll 0% 0%;
        width: 100%;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
@media screen and (max-width:560px){
    .member-img{
        height: auto
    }
     .team-title__icons{
        margin-top: -5%;
    }
    .team-title{
        h3{
            top:5%;
            font-size: 10pt;
        }
         h5{
            margin: 10% auto;
             font-size: 8pt;
            }   
    }
    .submit-form{
            top:5%;
        }
}
@media screen and (max-width:890px){
    
    .team-title h5{
        margin: 25% auto;
    }
    .team-title h3{
        top:20%;
    }
    .team-title__icons{
        margin-top: -5%;
    }
    .member-img{
        height: auto
    }
}
